!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ExamApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .container.mt-2
      - if current_user
        = render 'application/navbar'
      = render 'application/flash_msg'
      .row.p-3.justify-content-center
        .col-12.col-lg-9
          = yield
